xkcd-element{
    position: fixed;
    right: 20px;
    bottom: 20px;
    text-align: right;
    width: 50%;
}

train-element#epinay{
    position: fixed;
    right: 20px;
    top: 20px;
}

time-element{
    position: fixed;
    text-align: center;
    left: 45%;
    top: 25px;
    font-size: 200%;

}

weather-element{
    position: fixed;
    left: 20px;
    bottom: 20px;
    width: 50%;
}

quote-element{
    position: fixed;
    bottom: 100px;
    left: 0;
    text-align: center;
    width: 35%;
}

.bottom{
    position: fixed;
    bottom: 0;
}

#trainsFromEpinay{
    width: 100%;
}

