xkcd-element{
    position: fixed;
    right: 20px;
    bottom: 20px;
    text-align: right;
}

train-element#epinay{
    position: fixed;
    right: 20px;
    top: 20px;
}

time-element{
    position: fixed;
    text-align: center;
    left: 45%;
    top: 100px;
    font-size: 200%;

}

weather-element{
    position: fixed;
    left: 20px;
    bottom: 20px;
}
.bottom{
    position: fixed;
    bottom: 0;
}

#trainsFromEpinay{
    width: 100%;
}

